* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f7f7f7;
  color: #222;
}

/* NAVBAR */
nav {
  background: #ea1d2c;
  padding: 18px 40px;
  display: flex;
  gap: 25px;
  align-items: center;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* CONTAINER */
.container {
  padding: 40px;
}

/* TÍTULOS */
h1 {
  font-size: 42px;
  margin-bottom: 20px;
  color: #ea1d2c;
}

h2 {
  margin-bottom: 10px;
}

/* IMAGEM */
img {
  width: 100%;
  max-width: 800px;
  border-radius: 16px;
  margin-top: 20px;
}

/* CARDS */
.card {
  background: white;
  padding: 25px;
  border-radius: 16px;
  margin-top: 20px;
}

/* FORM */
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  max-width: 450px;
}

input {
  padding: 14px;
  border: 1px solid #ddd;
  border-radius: 10px;
  font-size: 16px;
}

/* BOTÃO */
button {
  background: #ea1d2c;
  color: white;
  border: none;
  padding: 14px;
  border-radius: 10px;
  font-size: 16px;
  cursor: pointer;
}